/*
#content{
    background-color: rgb(42, 165, 42);
}
*/

#menu {
    background-color: cornflowerblue;
}

/*
==================
SEZIONE CONTENT
==================
*/

/* ------------------- RICERCA ------------------- */

#searchBar {
    width: 90%;

    margin-left: 5%;
}

#searchButton {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    clear: both;
}