/*
==================
SEZIONE CONTENT
==================
*/

/* ------------------- RICERCA ------------------- */

#searchBar {
    width: 90%;

    margin-left: 5%;
}

#searchButton {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    clear: both;
}