/* ------------------- TABELLA ORDINI ------------------- */

/* Force table to not be like tables anymore */
table, thead, tbody, th, td, tr { 
    display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
}

tr { border: 1px solid #ccc; }

td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
}

td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
}

/*
Label the data
*/
td:nth-of-type(1):before { content: "Codice Ordine"; }
td:nth-of-type(2):before { content: "ISBN"; }
td:nth-of-type(3):before { content: "Titolo"; }
td:nth-of-type(4):before { content: "Quantità"; }
td:nth-of-type(5):before { content: "Data Ordine"; }
td:nth-of-type(6):before { content: "Data Consegna"; }
td:nth-of-type(7):before { content: "Totale"; }



/* ------------------- FORM ------------------- */
.formInput {
    /*width: 30em;*/
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.divPreForm {
    width: 91%;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------- ANALYTICS ------------------- */
#myChart {
    max-width: 100%;
}

/* ------------------- LIBRO ------------------- */
#liButtonLibro {
    flex-grow: 1;
    flex-shrink: 0;

    /*margin-right: 1%;*/
}

#liButtonLibro input[type=submit] {
    display: block;

    width: 95%;
    height: 2.5em;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;

    font-size: 1.2em;
}


#liButtonLibro input[type=number] {
    font-size: 1.4em;
    width: 2em;

    text-align: center;
}

#liButtonLibro label {
    margin-left: 2.5%;
    font-size: 1.2em;
}

#liTrama {
    padding-top: 0.7em;

    margin-left: 3%;
    margin-right: 3%;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 90%;
}

#liTrama p {
    font-size: 1em;
}

#liDettagliLibro {
    padding-top: 1em;

    margin-left: 3%;
    margin-right: 3%;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 90%;
}

/* ------------------- RICERCA ------------------- */

#filtri {
    flex-basis: 90%;
    flex-grow: 1;
    flex-shrink: 0;

    border-right: none;
    border-bottom: none;
    padding-bottom: 1em;
}

#ulFiltri {
    display: flex;
    flex-wrap: wrap;
}

.liFiltri {
    flex-basis: 30%;
    flex-shrink: 0;
    flex-grow: 1;
}

#filtri ul li input[type=number] {
    width: 70%;
    /*height: 2em;*/

    font-size: 1.5em;
}

#filtriForm input[type=submit]{
    display: block;
    width: 90%;
    margin-top: 0.7em;
}

/* ------------------- ACCOUNT ------------------- */

.accountCards {
    flex-wrap: wrap;
}

.accountCards li {
    flex-basis: 70%;
    flex-grow: 1;
    flex-shrink: 0;

    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

/* ------------------- BADGE CARRELLO ------------------- */
.notification .badge {
    font-size: larger;
    padding-right: 5px;
}

/* ------------------- ALERT ------------------- */
.alert {
    width: 95%;
}

/* ------------------- RECENSIONI ------------------- */
.submitEliminaRecensione {
    width: 100%;
    height: 2.2em;
}

/*
==================
SEZIONE FOOTER
==================
*/

footer .imgValidCode {
    width: 10%;
}