* {
    padding: 0;
    margin: 0;
}

html, body {
    font-size: 100%;
    /*font-family: "Comic Sans MS", cursive, sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    max-width: 1024px;
}

body {
    /*border: 1px solid #000;*/

    background-color: rgb(237, 239, 240);
    box-shadow: 0px 0px 10px 0px #aaaaaa;
}

a {
    color: #0080FF;
}

a:visited {
    color: #991199;
}

ul {
    list-style-type: none;
}

.starChecked {
    color: orange;
}

.starNotChecked {
    color: #aaaaaa;
}

.button {
    background-color: #146e53;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: large;
    cursor: pointer;
}

.button:hover {
    background-color: #1a9c75;
    border: 2px solid #146e53;
    color: white;
}

/*
==================
SEZIONE HEADER
==================
*/
header {
    /*
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    min-height: 5em;*/

    /*border-bottom: 1px solid #000;*/

    /*background-color: #e5fdf6;*/
    background-color: white;

    padding-left: 1em;
    display: flex;
    align-items: center;

}

header h1 {
    background-image: url("images/SecondReadLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999999em;
    font-size: 3em;

    /*
    width: 28%;
    min-width: 280px;
    */
    flex-basis: 280px;
    flex-grow: 1;
}

#benvenuto {
    margin-top: 0.2em;
    margin-right: 7%;
    margin-left: 1em;

    font-weight: 550;
}


.linkUtente {
    margin-right: 1em;
}

/*
==================
SEZIONE BREADCRUMB
==================
*/

#breadcrumb {
    /*padding-left: 0.6em;*/
    padding-left: 1.5em;
    /*border-bottom: 1px solid #000;*/

    /*background-color: #e5fdf6;*/
    background-color: white;

    padding-bottom: 0.5em;
}

/*
==================
SEZIONE MENU'
==================
*/

#menu {
    /*padding-left: 0.6em;*/
    /*padding-left: 1.5em;
    padding-right: 1.5em;*/
    border-bottom: 1px solid #aaaaaa;

    /*background-color: #e5fdf6;*/
    background-color: white;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#menu ul {
    /*column-count: 4;*/
    display: flex;
    justify-content: space-around;
}

#menu ul li {
    /*margin-left: 5%;
    margin-right: 5%;*/

    text-align: center;
}

/*
==================
SEZIONE CONTENT
==================
*/

#content {
    /*background-color: #e5fdf6;*/
    background-color: white;
}

#content h2 {
    text-align: center;
    margin-bottom: 0.4em;

    padding-top: 0.4em;

    color: #146e53;
}

.bookCards {
    text-align: center;

    display: flex;

    flex-wrap: wrap; /* Andare a capo */
    justify-content: center;
}

.bookCards li {
    margin: 0 10px 10px 10px;
    /*
    background-color: cornsilk;
    border: 1px solid #000;
    border-radius: 5px;*/

    flex-basis: 11%;
}

.bookCards img {
    object-fit: cover;

    margin-left: auto;
    margin-right: auto;
    display: block;
    
    border-radius: 5px;
}
/* ------------------- HOME ------------------- */


.homeCardsImg {
    width: 7em;
    height: 11em;
}

/* ------------------- GENERI ------------------- */

.generiCardsImg {
    width: 9em;
    height: 14em;
}

/* ------------------- ACCEDI ------------------- */

.accediRegistrati {
    width: 25em;

    margin: auto;    
    padding-bottom: 2em;
    padding-top: 2em;
}

.accediRegistrati fieldset {
    padding: 0em 3em 3em 3em;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
}

.accediRegistrati .styleInput {
    width: 100%;
    height: 1.5em;
    font-size: larger;
    text-indent: 0.3em;
}

.accediRegistrati input[type=date] {
    height: 2em;
}

.accediRegistrati *:not(.ultimoInput) {
    margin-bottom: 1em;
}

.accediRegistrati input[type=submit] {
    display: block;

    width: 32%;
    height: 2em;

    /*font-size: larger;*/

    margin: auto;
    margin-top: 1.2em;
    margin-bottom: -1.2em;
    /*
    color: white;
    background-color: #146e53;
    border-width: 1px;
    border-radius: 3px;

    cursor: pointer;*/
}

/* ------------------- RICERCA ------------------- */

.contentRicerca {
    display: flex;
}

#filtri {
    flex-basis: 35%;
    border-right: 1px solid #aaaaaa;
    padding-bottom: 1em;
}

#contentDx {
    flex-basis: 65%;
}

#filtriForm fieldset {
    border: none;
}

#filtriForm fieldset legend {
    padding-left: 0.5em;
    /*padding-top: 1em;*/
    margin-left: 0.3em;
    padding-top: 0.5em;

    color: #146e53;
    font-size: x-large;
    font-weight: bold;
}

#filtriForm input[type=number] {
    width: 4em;
    text-align: center;
}

#filtri ul li {
    margin-top: 0.5em;
    margin-left: 1.5em;
}

#filtri ul li input[type=checkbox] {
    transform: scale(1.5);
    margin-left: 0.2em;
}

#filtri ul li input[type=number] {
    font-size: 1em;
}

#filtri ul li label {
    font-size: 0.8em;
    padding-left: 0.8em;
}

#filtri .btnFiltri {
    width: 42%;
    margin-left: 5%;
    margin-top: 2em;

    height: 2em;
    /*font-size: medium;

    color: white;
    background-color: #146e53;

    border-radius: 3px;
    border-width: 1px;

    cursor: pointer;*/
}

#searchBar {
    width: 70%;
    height: 2em;
    border-radius: 3px;
    border-width: 1px;
    font-size: large;
    text-indent: 0.3em;

    margin-left: 5%;
    margin-top: 0.5em;
}

#searchButton {
    width: 20%;
    margin-right: 5%;
    margin-top: 0.5em;

    height: 2em;

    /*margin-left: -0.3em;*/
    /*min-width: fit-content;*/

    float: right;
}

.advertsCards {
    list-style-type: none;

    display: flex;
    flex-wrap: wrap; /* Andare a capo */

    /*border-left: 1px solid #aaaaaa;*/
}

.advertsCards li{
    border-top: 1px solid #aaaaaa;
}

li.primaInserzione {
    border-top: none;
}

li.primaInserzione {
    border-top: none;
}

li.imgLi {
    flex-basis: 25%;
    /*border: 1px solid rgb(240, 38, 38);*/

    text-align: center;
    
    padding-top: 1em;
    padding-bottom: 1em;
}

li.textLi {
    flex-basis: 70%;
    flex-grow: 1;
    /*border: 1px solid rgb(0, 255, 64);*/

    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

li.textLi p{
    padding-top: 0.5em;
}

.advertsImg {
    object-fit: cover;
    width: 5em;
    height: 8em;
    border-radius: 5px;

    vertical-align: middle;
}

a.titolo {
    font-size: larger;
}

.tramaRicerca {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-size: small;
}

/* ------------------- LIBRO ------------------- */

.cardDettagli {
    display: flex;
    flex-wrap: wrap;
}

#liImg {
    padding-left: 3%;
    padding-right: 3%;

    border: 1px solid rgb(240, 38, 38);
}

#imgLibro {
    display: block;

    object-fit: cover;
    width: 10em;
    height: 16em;
    border-radius: 5px;

    /*
    margin-left: auto;
    margin-right: auto;*/
}

#liInfoGenerali {
    border: 1px solid rgb(55, 0, 255);
    font-size: large;

    flex-basis: 30%;
    flex-grow: 1;
}

#liInfoGenerali p {
    margin-bottom: 0.2em;
}

#titolo {
    font-weight: bold;
    font-size: larger;
}

#trama {
    margin-top: 1em;
    font-size: 0.8em;
}

#liButtonLibro {
    border: 1px solid rgb(240, 38, 38);

    flex-basis: 200px;

    margin-right: 3%;
}

#liButtonLibro input[type=button] {
    display: block;

    width: 100%;
    height: 2em;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#liButtonLibro input[type=number] {
    font-size: 1.2em;
    width: 2em;

    text-align: center;
}

#liTrama {
    border: 1px solid rgb(0, 17, 255);
    /*padding-left: 3%;
    padding-right: 3%;*/
    padding-top: 0.7em;

    margin-left: 3%;
    margin-right: 3%;

    flex-basis: 60%;
    flex-shrink: 1;
}

#liTrama p {
    font-size: 0.9em;
}

#liDettagliLibro {
    border: 1px solid rgb(0, 195, 255);
    padding-top: 1em;

    flex-basis: 32%;

    /*flex-shrink: 1;*/
}

#liDettagliLibro li {
    padding-bottom: 0.5em;
}

.miniGrassetto {
    font-weight: 550;
}

/* ------------------- ACCOUNT ------------------- */

.accountCards {
    text-align: center;

    display: flex;
    flex-wrap: wrap;
}

.accountCards li {    
    background-color: cornsilk;
    border: 1px solid #000;
    border-radius: 5px;

    flex-basis: 48%;
    flex-grow: 1;
    flex-shrink: 0;

    display: flex;

    justify-content: center;
}

.accountCards img {
    object-fit: cover;
    
    border-radius: 5px;

    width: 7em;
    height: 9.3em;

    border: 1px solid rgb(255, 0, 179);
}

.accountCards div {
    border: 1px solid rgb(4, 21, 255);
}


/* ------------------- ERRORE ------------------- */

#erroreImg {
    width: 80%;
    margin-left: 10%;
}

/*
==================
SEZIONE ERRORI
==================
*/
.errorSuggestion {
    color:rgb(201, 98, 98);
    font-size: 0.8em;
    display: block;
    /* margin-top: -1em; */
}

/*
==================
SEZIONE FOOTER
==================
*/

footer {
    clear: both;
    text-align: center;
    font-size: 0.8em;
    border-top: 1px solid #aaaaaa;
    padding: 0.5em;

    /*background-color: white;*/
    background-color: #146e53;
}

footer p {
    display: inline;
    font-style: italic;
    color: white;
}

footer .imgValidCode {
    vertical-align: middle;
    margin-left: 1.0em;
    margin-right: 1.0em;
}